<div class="content-wrapper">
    <ul>
        <li>@Html.ActionLink("Level Zero","LevelZero")</li>
        <li>@Html.ActionLink("Level One","LevelOne")</li>
        <li>@Html.ActionLink("Level Two (Simple)","LevelTwo")</li>
        <li>@Html.ActionLink("Level Two (Advanced)", "LevelThree")</li>
        <li>@Html.ActionLink("View Audit Records","AuditRecords")</li>
    </ul>
</div>
