@model Advanced_Auditing.Models.AdvancedViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Level Three</title>
</head>
<body>
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    
    @using (Html.BeginForm()) {
        @Html.ValidationSummary(true)
        <fieldset>
            <legend>Advanced</legend>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.ModelID)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ModelID)
                @Html.ValidationMessageFor(model => model.ModelID)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.StringProperty)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.StringProperty)
                @Html.ValidationMessageFor(model => model.StringProperty)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.IntegerProperty)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.IntegerProperty)
                @Html.ValidationMessageFor(model => model.IntegerProperty)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Collection)
            </div>
            <div class="editor-field">
                <input name="Collection" />
                <input name="Collection" />
                <input name="Collection" />
            </div>
            <p>
                <input type="submit" value="Create" />
            </p>
        </fieldset>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
